body {
    background-color: floralwhite;
  }

  a:visited{
    color: crimson;
  }

  a {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

/*PIC OF THE DEVELOPER */
.img-fluids{
    width: 100%;
    height: auto;
    padding-top: 5%;
}

.first{
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 80px;
    padding-left: 2%;
    padding-bottom: 0;
}
.second{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: darkgray;
    padding-left: 2%;
    padding-top: 0;
    padding-bottom: 40px;

}
/*DESCRIPTION OF THE DEVELOPER*/
#first1{
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
#name{
    padding-top: 5%;
    padding-top: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: darkgray;
    font-size: 20px;
}


