body {
    padding: 20px;
    background-color: lightgoldenrodyellow;
  }
/*NAVIGATION*/
a:visited{
    color: crimson;
  }
nav{
    background-color: #FBDE7E;
}
a {
   font-size: larger;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 /*INTRODUCTORY*/
.sen{
    text-align: center;
    margin: 40px;
    font-variant: small-caps;
    font-size: 30px;
    padding-top: 10px;
    color: black;
}
.row {
    margin: 10px -18px;
  }
  
/* Add padding BETWEEN each column  */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #FBDE7E;
    padding: 10px;
  }

  /* for the text in the gallery*/
  .gtitle{
    text-align: center;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*DESCRIPTION INSIDE THE BIG PICTURE*/
.pcontent{
    text-align: center;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*IMAGE INSIDE THE COLUMN*/
  img {
    border-radius: 50%;
  }

